.search-container{
    max-width:1000px;
    margin:80px auto;
    padding:20px;
}

.search-box{
    display:flex;
    gap:10px;
    background:#1f2937;
    padding:15px;
    border-radius:20px;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    font-size:18px;
}

.search-btn{
    padding:12px 20px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
}

.history-item{
    background:#1f2937;
    margin-top:10px;
    padding:12px;
    border-radius:12px;
}

.history-item:hover{
    background:#374151;
}
